$primary-color: lightblue;
$secondary-color: blue;

body {
  margin: 0;
}

#battlefield-container {
  position: absolute;
  width: 100%;
  min-width: 1000px;
  height: 100%;
}

.teacher-container {
  position: absolute;
  img {
    width: 100px;
  }
  p {
    text-align: center;
  }
}

.databar-container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
}